<div class="wrapper-md">
    <div class="row padder-v pos-rlt">
        <h1 class="m-n font-thin h3">Devices</h1>
    </div>

    <!--
    <form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled"
          method="get">
        <div class="form-group">
            <label class="col-sm-2 control-label">Device category</label>

            <div class="col-sm-10">
                <ui-select ng-model="$parent.category" theme="bootstrap">
                    <ui-select-match placeholder="Select a category ...">{{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="category in categories | filter: $select.search">
                        <div ng-bind-html="category| highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </form>
    -->
    <div class="row padder-v">
        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-heading">
                    <span class="label bg-primary pull-right">NEW</span>
                    <h4 class="m-n">Device #1</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>Serial number: 123456789</li>
                        <li>Category: Flow</li>
                        <li>Group: Magnetic Flowmeters</li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-icon btn-default"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-icon btn-default"><i class="glyphicon glyphicon-list"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-heading">
                    <span class="label bg-primary pull-right">NEW</span>
                    <h4 class="m-n">Device #2</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>Serial number: 123456789</li>
                        <li>Category: Flow</li>
                        <li>Group: Magnetic Flowmeters</li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-icon btn-default"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-icon btn-default"><i class="glyphicon glyphicon-list"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="m-n">Device #3</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>Serial number: 123456789</li>
                        <li>Category: Flow</li>
                        <li>Group: Magnetic Flowmeters</li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-icon btn-default"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-icon btn-default"><i class="glyphicon glyphicon-list"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="m-n">Device #4</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>Serial number: 123456789</li>
                        <li>Category: Flow</li>
                        <li>Group: Magnetic Flowmeters</li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-icon btn-default"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-icon btn-default"><i class="glyphicon glyphicon-list"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="m-n">Device #5</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>Serial number: 123456789</li>
                        <li>Category: Flow</li>
                        <li>Group: Magnetic Flowmeters</li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-icon btn-default"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-icon btn-default"><i class="glyphicon glyphicon-list"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="m-n">Device #6</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>Serial number: 123456789</li>
                        <li>Category: Flow</li>
                        <li>Group: Magnetic Flowmeters</li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-icon btn-default"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-icon btn-default"><i class="glyphicon glyphicon-list"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="m-n">Device #7</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>Serial number: 123456789</li>
                        <li>Category: Flow</li>
                        <li>Group: Magnetic Flowmeters</li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-icon btn-default"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-icon btn-default"><i class="glyphicon glyphicon-list"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="m-n">Device #8</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>Serial number: 123456789</li>
                        <li>Category: Flow</li>
                        <li>Group: Magnetic Flowmeters</li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-icon btn-default"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-icon btn-default"><i class="glyphicon glyphicon-list"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
