<div class="wrapper-md">
    <div class="row padder-v pos-rlt">
        <h1 class="m-n font-thin h3">New Device</h1>
    </div>
    <div class="row padder-v">
        <form name="devices" role="form" novalidate valdr-type="Devices" ng-init="get()">
            <div class="fieldset-form m-b-md">
                <fieldset>
                    <legend>Device</legend>
                    <div class="col-sm-6">
                        <div class="form-group" valdr-form-group>
                            <label class="form-label">Device category*</label>
                            <ui-select id="category" name="category" ng-model="$parent.device.category" theme="bootstrap" enable-valdr-validation enable-valdr-message>
                                <ui-select-match placeholder="Select a category ...">{{$select.selected}}
                                </ui-select-match>
                                <ui-select-choices repeat="category in categories | filter: $select.search">
                                    <div ng-bind-html="category| highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group" valdr-form-group>
                            <label class="form-label">Device group*</label>
                            <ui-select id="group" name="group" ng-model="$parent.device.group" theme="bootstrap" enable-valdr-validation enable-valdr-message>
                                <ui-select-match placeholder="Select a group ...">{{$select.selected}}
                                </ui-select-match>
                                <ui-select-choices repeat="group in groups | filter: $select.search">
                                    <div ng-bind-html="group| highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group" valdr-form-group>
                            <label class="form-label">Process medium*</label>
                            <ui-select id="medium" name="medium" ng-model="$parent.device.medium" theme="bootstrap" enable-valdr-validation enable-valdr-message>
                                <ui-select-match placeholder="Select a medium ...">{{$select.selected}}
                                </ui-select-match>
                                <ui-select-choices repeat="medium in mediums | filter: $select.search">
                                    <div ng-bind-html="medium| highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group" valdr-form-group>
                            <label class="form-label">Labels</label>
                            <input name="labels" ng-model="device.labels" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" valdr-form-group>
                            <label class="form-label">Device designation*</label>
                            <input name="designation" ng-model="device.designation" type="text" class="form-control">
                        </div>
                        <div class="form-group" valdr-form-group>
                            <label class="form-label">Serial number*</label>
                            <input name="serial" ng-model="device.serial" type="text" class="form-control">
                        </div>
                        <div class="form-group" valdr-form-group>
                            <label class="form-label">Comment</label>
                            <textarea name="comment" ng-model="device.comment" class="form-control" style="height: 107px;"></textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="fieldset-form m-b-md">
                <fieldset>
                    <legend>
                        <span class="m-r-sm">Maintenance</span>
                        <label class="i-switch i-switch-md bg-primary pull-out m-r-xs">
                            <input type="checkbox" class="form-control" ng-model="hasMaintenance">
                            <i></i>
                        </label>
                    </legend>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" valdr-form-group valdr-enabled="hasMaintenance">
                                <label class="form-label">Interval*</label>
                                <ui-select id="interval" name="interval" ng-model="$parent.device.maintenance.interval" theme="bootstrap" ng-disabled="!hasMaintenance" enable-valdr-validation enable-valdr-message>
                                    <ui-select-match placeholder="Select an interval ...">{{$select.selected}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="range in ranges | filter: $select.search">
                                        <div ng-bind-html="range| highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" valdr-form-group valdr-enabled="hasMaintenance">
                                <label class="form-label">Period start*</label>

                                <div class="input-group">
                                    <input name="period" type="date" class="form-control" datepicker-popup ng-model="date"
                                           is-open="opened"
                                           datepicker-options="{formatYear: 'yy',startingDay: 1}" close-text="Close"
                                           ng-disabled="!hasMaintenance"/>
                                <span class="input-group-addon bg-white text-muted">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="fieldset-form m-b-md">
                <fieldset>
                    <legend>
                        <span class="m-r-sm">Notifications</span>
                        <label class="i-switch i-switch-md bg-primary pull-out m-r-xs">
                            <input type="checkbox" class="form-control" ng-model="hasNotification">
                            <i></i>
                        </label>
                    </legend>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" valdr-form-group valdr-enabled="hasNotification">
                                <label class="form-label">Reminder*</label>
                                <ui-select id="reminder" name="reminder" ng-model="$parent.device.notifications.reminder" theme="bootstrap" ng-disabled="!hasNotification" enable-valdr-validation enable-valdr-message>
                                    <ui-select-match placeholder="Select a date ...">{{$select.selected}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="range in ranges | filter: $select.search">
                                        <div ng-bind-html="range| highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" valdr-form-group valdr-enabled="hasNotification">
                                <label class="form-label">E-mail*</label>
                                <input name="email" ng-model="device.email" type="email" class="form-control" ng-disabled="!hasNotification">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    * Fields are required
                    <div class="pull-right">
                        <button ng-click="save(device, devices.$valid)" class="btn btn-primary m-r-sm">
                            Save
                        </button>
                        <button ng-click="reset(form)" class="btn btn-default">
                            Clear
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
