<div class="wrapper-md">
    <div class="row">
        <div class="md-toolbar-tools">
            <h2 class="m-n">Admin</h2>
            <span flex></span>
        </div>
    </div>
    <div class="row padder-v">
        <md-tabs md-dynamic-height="true" md-center-tabs="false" md-border-bottom md-stretch-tabs>
            <md-tab label="invite">
                <div data-ng-include="'views/admin/partials/invite.html'"></div>
            </md-tab>
            <md-tab label="company">
                <div data-ng-include="'views/admin/partials/company.html'"></div>
            </md-tab>
        </md-tabs>
    </div>
</div>