<div class="wrapper-md">
    <div class="row">
        <div class="md-toolbar-tools">
            <h1 class="m-n h3">Admin</h1>
            <span flex></span>
        </div>
    </div>
    <div class="row padder-v">
        <md-tabs md-dynamic-height="true" md-center-tabs="false" md-border-bottom md-stretch-tabs>
            <md-tab label="invite">
                <md-content class="md-padding">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus
                        volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium
                        ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                </md-content>
            </md-tab>
            <md-tab label="settings">
                <md-content class="md-padding">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus
                        volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium
                        ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div>