<div ng-controller="MessageCtrl">
  <div class="alert alert-danger m-t-md" ng-show="errors.length>0" role="alert">
    <div ng-repeat="error in errors">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <span> {{::error}}</span>
    </div>
  </div>
  <div class="alert alert-warning m-t-md" ng-repeat='warn in warns' role="alert">
    <div ng-repeat="warn in warns">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      <span class="sr-only">Warning:</span>
      <span> {{::warn}}</span>
    </div>
  </div>
  <div class="alert alert-info m-t-md" ng-repeat='info in infos' role="alert">
    <div ng-repeat="info in infos">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      <span class="sr-only">Info:</span>
      <span> {{::info}}</span>
    </div>
  </div>
</div>
