<div ng-controller="MessageCtrl">
    <div ng-repeat="message in messages">
        <div class="alert m-n" style="height: 50px;"
             ng-class="{ 'alert-danger': message.type=='error' , 'alert-warning': message.type=='warn', 'alert-info ': message.type=='info', 'alert-success': message.type=='success'  }"
             role="alert">
            <div class="container">
                <span class="glyphicon m-r-xs" ng-class="{ 'glyphicon-ok-sign': message.type=='success', 'glyphicon-exclamation-sign': message.type=='error', 'glyphicon-warning-sign': message.type=='warn', 'glyphicon-info-sign': message.type=='info' }" aria-hidden="true"></span>
                <span> {{::message.message}}</span>
                <span class="pull-right"><button type="button" class="close" aria-label="Close" ng-click="dismiss(message.type);"><span aria-hidden="true">&times;</span></button></span>
            </div>
        </div>
    </div>
</div>
