<div ng-controller="MessageCtrl">
    <div ng-repeat="message in messages" class="">
        <div class="alert m-n"
             ng-class="{ 'alert-danger': message.type=='error' , 'alert-warning': message.type=='warn', 'alert-info ': message.type=='info'  }"
             role="alert">
            <div class="container">
                <span class="glyphicon glyphicon-exclamation-sign m-r-xs" aria-hidden="true"></span>
                <span> {{::message.message}}</span>
            </div>
        </div>
    </div>
</div>
