<div class="container w-xxxl w-auto-x p-t-xxl">
    <h1 class="logo text-center text-white m-b-xl font-bold"><span class="glyphicon glyphicon-unchecked"></span></h1>

    <div class="login panel b-a r-n">
        <div class="panel-heading text-muted text-center">
            <h3 class="font-thin m-t-md m-b-n">Log in to your account</h3>
        </div>
        <div class="panel-body wrapper-lg">
            <div class="m-b-md" data-ng-include="'views/partials/messages.html'"></div>
            <form name="login" role="form" novalidate valdr-type="Login">
                {{violations}}
                <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon bg-white text-muted">
                      <i class="glyphicon glyphicon-user"></i>
                      </span>
                        <input type="email" name="email" class="form-control input-lg" placeholder="Email address"
                               ng-model="user.email" required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon bg-white text-muted">
                      <i class="glyphicon glyphicon-lock"></i>
                      </span>
                        <input type="password" name="password" class="form-control input-lg " placeholder="Password"
                               ng-model="user.pass">
                    </div>
                </div>

                <button type="submit" ng-click="signin(user,login.$valid)" class="btn btn-lg btn-primary btn-block">
                    Login
                </button>
            </form>
        </div>
        <a ui-sref="access.register" class="panel-footer wrapper text-lg text-center">
            No account? <span class="text-u-l m-l-xs text-primary">Create an account</span>
        </a>
    </div>
    <div class="text-center">
        <a ui-sref="access.forgotpwd" class="text-white">Forgot password?</a>
    </div>
</div>
