<div class="container w-xxxl w-auto-x p-t-xxl text-center">
    <h1 class="logo text-center text-white m-b-xl font-bold"><span class="glyphicon glyphicon-unchecked"></span></h1>

    <div class="login panel b-a r-n">
        <div class="panel-heading text-muted">
            <h3 class="font-thin m-t-md m-b-n">Log in to your account</h3>
        </div>
        <div class="panel-body wrapper-lg">
            <div class="m-b-md" data-ng-include="'views/partials/messages.html'"></div>
            <form name="loginForm" role="form">
                <md-input-container>
                    <md-icon md-font-icon="mdi mdi-account" class="text-2x name"></md-icon>
                    <input ng-model="user.name" name="username" type="text" placeholder="Email" ng-required="true">
                </md-input-container>
                <md-input-container>
                    <md-icon md-font-icon="mdi mdi-lock" class="text-2x email"></md-icon>
                    <input ng-model="user.password" name="password" type="password" placeholder="Password"
                           ng-required="true">
                </md-input-container>
                <md-button class="md-raised md-primary btn-block" ng-click="signin(user, loginForm.$valid)">Login
                </md-button>
            </form>
        </div>
        <a ui-sref="access.register" class="panel-footer wrapper text-lg">
            No account? <span class="text-u-l m-l-xs text-primary">Create an account</span>
        </a>
    </div>
    <a ui-sref="access.forgotpwd" class="text-white">Forgot password?</a>
</div>
