<!--
<div class="container w-xxl w-auto-xs">
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Sign up an gain access</strong>
        </div>
        <form name="signup" ng-controller="LoginCtrl" class="form-validation ng-pristine ng-invalid ng-invalid-required">
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input placeholder="First name" ng-model="user.first_name" class="form-control no-border ng-pristine ng-invalid ng-invalid-required" required>
                </div>
                <div class="list-group-item">
                    <input placeholder="Family name" ng-model="user.last_name" class="form-control no-border ng-pristine ng-invalid ng-invalid-required" required>
                </div>
                <div class="list-group-item">
                    <input type="email" placeholder="Email" ng-model="user.email" class="form-control no-border ng-pristine ng-invalid ng-invalid-required ng-valid-email" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Password" ng-model="user.password" class="form-control no-border ng-pristine ng-invalid ng-invalid-required" required>
                </div>
            </div>
            <div class="checkbox m-b-md m-t-none">
                <label class="i-checks">
                    <input class="ng-pristine ng-invalid ng-invalid-required" type="checkbox" required="" ng-model="agree"><i></i> Agree the <a href>terms and policy</a>
                </label>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
            <div class="line line-dashed"></div>
            <p class="text-center"><small>Already have an account?</small></p>
            <a ui-sref="access.login" class="btn btn-lg btn-default btn-block">Sign in</a>
        </form>
    </div>
</div>
-->

<div class="container w-xxxl w-auto-x p-t-xxl text-center">
    <h1 class="logo text-center text-white m-b-xl font-bold">{{"Device Registration" | uppercase}}</h1>

    <div class="panel b-a r-3x">
        <div class="panel-heading text-muted">
            <h3 class="font-thin m-t-md m-b-n">Sign up and gain access</h3>
        </div>
        <div class="panel-body wrapper-lg">
            <form name="register" role="form">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="First name"
                           ng-model="user.firstname">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Last name"
                           ng-model="user.lastname">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control input-lg" placeholder="Email address"
                           ng-model="user.email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Invitation code"
                           ng-model="user.serial">
                </div>
                <button type="submit" ng-click="login(user, signin.$valid)" class="btn btn-lg btn-primary btn-block">
                    Create Account
                </button>
            </form>
        </div>
        <a ui-sref="access.login" class="panel-footer wrapper text-lg">
            Already have an account? <span class="text-u-l m-l-xs text-primary">Sign In</span>
        </a>
    </div>
</div>